* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	letter-spacing: 0.1em;
}
a {
	text-decoration: none;
	color: #ffffff;
}

.container {
	max-width: 1280px;
	margin: auto;
}

.header {
	height: 600px;
	background: #290000;
	border-top: 5px solid #76c38f;
	padding-top: 42px;
}
.header__wrapper {
	/* display: flex; */
	flex-direction: column;
}
.header__navigation {
	height: 50px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header__navigation__list {
	display: flex;
	justify-content: center;
	list-style-type: none;
}
.header__navigation__list a {
	padding: 15px 20px;
	font-size: 18px;
}
.header__navigation__list a:hover {
	color: #808080;
	transition: ease 0.5s;
}
.active__list__item {
	border-radius: 25px;
}
.background-green {
	background: #76c38f;
	border-radius: 25px;
}

.slider {
	position: absolute;
	width: 100%;
	height: 430px;
}
.wrapper {
	overflow: hidden;
	position: relative;
	width: 100%;
	height: 100%;
	z-index: 1;
}
.slides {
	display: flex;
	position: relative;
	left: -1280px;
	width: 100000px;
}

.slides.shifting {
	transition: left 0.2s ease-out;
}
.slide {
	width: 1280px;
	height: 430px;
	cursor: pointer;
	display: flex;
	flex-direction: column;
	justify-content: center;
	transition: all 1s;
	position: relative;
	border-radius: 2px;
}

.header__content {
	display: flex;
	justify-content: space-around;
	height: 430px;
	width: 100%;
	padding: 50px 0;
	color: #ffffff;
}
.content__text__title {
	width: 325px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	margin: 35px 0;
	font-size: 46px;
}
.content__text__description {
	width: 325px;
}
.read-more-btn {
	padding: 10px;
	margin-top: 20px;
	border: none;
	color: #ffffff;
}
.read-more-btn a:hover {
	color: #808080;
	transition: ease 0.5s;
}
.img__container img {
	width: 380px;
	height: 380px;
	border-radius: 50%;
	border: 20px solid #6b6b6b;
	background-position: center;
	background-size: cover;
}

.control {
	position: absolute;
	top: 50%;
	width: 50px;
	height: 50px;
	margin-top: -20px;
	z-index: 2;
}

.prev,
.next {
	background-size: 4rem;
	background-position: center;
	background-repeat: no-repeat;
	cursor: pointer;
}

.prev {
	background-image: url(img/back_arrow_icon.png);
	left: -20px;
}

.next {
	background-image: url(img/forward_arrow_icon.png);
	right: -20px;
}

.prev:active,
.next:active {
	transform: scale(0.8);
}
