* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	letter-spacing: 0.09em;
}
a {
	text-decoration: none;
	color: #ffffff;
}

.container {
	max-width: 1280px;
	margin: auto;
}

.header {
	height: 600px;
	background: #290000;
	border-top: 5px solid #76c38f;
	padding-top: 42px;
}
.header__wrapper {
	/* display: flex; */
	flex-direction: column;
}
.header__navigation {
	height: 50px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header__navigation__list {
	display: flex;
	justify-content: center;
	list-style-type: none;
}
.header__navigation__list a {
	padding: 15px 20px;
	font-size: 16px;
}
.header__navigation__list a:hover {
	color: #808080;
	transition: ease 0.5s;
}
.active__list__item {
	border-radius: 25px;
}
.background-green {
	background: #76c38f;
	border-radius: 25px;
}

.slider {
	position: absolute;
	width: 100%;
	height: 430px;
}
.wrapper {
	overflow: hidden;
	position: relative;
	width: 100%;
	height: 100%;
	z-index: 1;
}
.slides {
	display: flex;
	position: relative;
	left: -1280px;
	width: 100000px;
}

.slides.shifting {
	transition: left 0.2s ease-out;
}
.slide {
	width: 1280px;
	height: 430px;
	cursor: pointer;
	display: flex;
	flex-direction: column;
	justify-content: center;
	transition: all 1s;
	position: relative;
	border-radius: 2px;
}

.header__content {
	display: flex;
	justify-content: space-around;
	height: 430px;
	width: 100%;
	padding: 50px 0;
	color: #ffffff;
}
.content__text__title {
	width: 325px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	margin: 35px 0;
	font-size: 38px;
}
.content__text__description {
	width: 325px;
}
.read-more-btn {
	padding: 10px;
	margin-top: 20px;
	border: none;
	color: #ffffff;
}
.read-more-btn a:hover {
	color: #808080;
	transition: ease 0.5s;
}
.img__container img {
	width: 380px;
	height: 380px;
	border-radius: 50%;
	border: 20px solid #6b6b6b;
	background-position: center;
	background-size: cover;
}

.control {
	position: absolute;
	top: 50%;
	width: 50px;
	height: 50px;
	margin-top: -20px;
	z-index: 2;
}

.prev,
.next {
	background-size: 4rem;
	background-position: center;
	background-repeat: no-repeat;
	cursor: pointer;
}

.prev {
	background-image: url(img/back_arrow_icon.png);
	left: -20px;
}

.next {
	background-image: url(img/forward_arrow_icon.png);
	right: -20px;
}

.prev:active,
.next:active {
	transform: scale(0.8);
}

/*******************     main   ****************/

.main {
	width: 100%;
	height: 1080px;
	background: #660000;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
}

.main__struction {
	margin: 0 auto;
	width: 1280px;
	height: 100%;
}

.articles-conteiner {
	padding-top: 55px;
	width: 100%;
	height: 400px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin: 0 auto;
}

.article {
	width: auto;
	height: 310px;
	background: #fff;
	padding: 25px 0;
	position: relative;
	margin: 5px;
}

.aricle__contain {
	display: flex;
	text-align: center;
	justify-content: center;
	flex-direction: column;
}

.article__photo {
	width: 120px;
	height: 120px;
	background: #333333;
	margin: auto;
}

.service-title {
	text-transform: uppercase;
	color: #333333;
	text-align: center;
	/* font-size: 36px; */
	padding: 8px 0 10px 0;
}

.article__para {
	color: #979797;
	max-width: 300px;
}

.article__link {
	position: absolute;
	top: 0px;
	display: none;
}

.article:hover .article__link {
	display: inline;
}

.white {
	color: #fff;
}

.white_bk {
	background: #fff;
}

.green {
	background: #76c38f;
	margin: 0;
}

.title-conteiner {
	width: 100%;
	height: 70px;
	position: relative;
}

.title__line {
	height: 3px;
	max-width: 100%;
	background: #303030;
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	margin: auto;
}

.title-conteiner__title {
	height: 50px;
	width: 300px;
	border-radius: 5px;
	background: #303030;
	text-align: center;
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	margin: auto;
}

.title-conteiner__para {
	text-transform: uppercase;
	color: #fff;
	font-size: 32px;
	line-height: 50px;
}

.photos-conteiner {
	max-width: 1280px;
	height: 510px;
	display: flex;
	flex-wrap: wrap;
	padding-top: 25px;
}

.photos__contain {
	width: 380px;
	/* height: 200px; */
	background: #353535;
	position: relative;
	margin: 20px auto;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

.photo {
	display: flex;
	text-align: center;
	justify-content: center;
	flex-direction: column;
	border: 5px solid #fff;
}

.main__photo {
	width: 100%;
	height: 190px;
	background: #353535;
}

.photos__name {
	text-transform: uppercase;
	color: #fff;
	line-height: 25px;
}

.main__photo__title {
	background: #151515;
	bottom: 5px;
}

.green_brd {
	border: 5px solid #76c38f;
	width: 380px;
	height: 225px;
}

.photo__link {
	position: absolute;
	top: 0;
	left: 0;
	display: none;
}

.photo:hover .photo__link {
	display: inline;
}

/***************** footer **************************/

.big-footer {
	width: 100%;
	/* height: 390px; */
	background: #303030;
	border-bottom: 1px solid #000000;
}
.big-footer__wrapper {
	max-width: 1280px;
	height: 390px;
	margin: auto;
	padding: 40px 0;
}
.footer__wrapper__container {
	max-width: 100%;
	height: auto;
	display: flex;
	justify-content: space-between;
}
.container__item {
	width: 260px;
	height: 100%;
	color: #ffffff;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	text-transform: capitalize;
}
.container__item__title {
	font-size: 16px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 37px;
}
.extra-small-text {
	font-size: 10px;
	margin: 10px 0 0 0;
	color: #666667;
}
.container__item__sub-title {
	font-size: 13px;
	color: #979797;
}
.container__item__description {
	font-size: 13px;
	color: #979797;
	display: flex;
	flex-wrap: wrap;
	margin: 15px 0;
}
.green-color {
	color: #76c38f;
}
.quick-navigation__list {
	display: flex;
	flex-direction: column;
	overflow: hidden;
}
.quick-navigation__list__item {
	padding: 5px 0;
	border-bottom: 1px solid #404040;
	list-style: inside;
	color: #979797;
}
.quick-navigation__list__item a {
	color: #76c38f;
}
.quick-navigation__list__item .fa-angle-double-right {
	color: #979797;
	font-size: 13px;
}
.contact-form-input {
	width: 225px;
	height: 35px;
	margin-bottom: 10px;
	padding-left: 10px;
	background: #222222;
	border-radius: 15px;
	color: #989898;
	border: none;
	outline: none;
}

.footer__submit {
	width: 75px;
	height: 35px;
	border: none;
	border-radius: 15px;
	color: #ffffff;
	text-transform: uppercase;
	margin-left: 5px;
}
.footer__submit:hover {
	color: #808080;
	transition: ease 0.5s;
}
.small__footer {
	width: 100%;
	height: 60px;
	background: #2b2b2b;
	border-top: 1px solid #3a3a3a;
	border-bottom: none;
}
.small__footer__wrapper {
	margin: auto;
	max-width: 1280px;
	height: 60px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #979797;
}
